h2 {
  margin: 5px 0;
  padding-left: 7px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
  background-color: #04aa6d;
}
ol {
  margin: 4px;
}
ul {
  padding-left: 18px;
  list-style: square;
  padding-top: 4px;
  padding-bottom: 4px;
}
li {
  padding: 4px;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}
/* *Table Start */
.nomor-auto,
.container {
  /* counter-reset: serial-number; /* Atur penomoran ke 0*/
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.nomor-auto td {
  padding: 8px;
  border: 1px solid #ddd;
}
.nomor-auto tr:nth-of-type(odd) {
  background: #eee;
}
.nomor-auto tr:hover {
  background-color: #ddd;
}
.nomor-auto td:first-child:before {
  /* content: counter(serial-number); /* Tampilan counter */
  /* counter-increment: serial-number; /* Kenaikan Penomoran */
}
.nomor-manual {
  text-align: center;
} /* !Table End */
.small {
  font-size: 14px;
}
